*{
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
/*Inicio del Estilo del Header*/
.header{
    background-color: black;
    display: flex;
    position: fixed;
    z-index: 10;
    flex-direction: row;
    top: 0;
    right: 0;
    left: 0;
    min-height: 75px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.icono_principal{
    width: 100%;
    height: auto;
    max-width: 250px;
    margin: 0 auto 10px auto;
    display: flex;
    align-items: center;
    text-align: center;
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.list-item{
    margin-right: 50px;
    font-size: 5vh;
}
a{
    text-decoration: none;
    color: #eee;
}
a:visited{
    color: #eee;
}
/*Fin de los estilos del Header*/
/*Inicio de estilos main*/
main{
    position: relative;
    margin: 150px auto 100px auto;
}
.sobre_mi{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.texto_sobre_mi{
    margin: 10px auto 10px 20px;
    text-align: left;
    font-size: 3vh;
}
.imagen_programador{
    position: relative;
    width: 100%;
    height: auto;
    min-width: 400px;
    max-width: 5700px;
    left: 0;
    animation-name: programador;
    animation-timing-function: cubic-bezier(0.2,0.2,0.8,0.8);
    animation-duration: 3500ms;
}
h2{
    text-align: center;
}
.container-lenguage{
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fill,minmax(250px,300px));
    grid-auto-flow: dense;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation-name: skills;
    animation-timing-function: cubic-bezier(0.2,0.2,0.8,0.8);
    animation-duration: 3500ms;
}
.html-5{
    width: 100%;
    max-width: 250px ;
    height: auto;    
}
.css-3{
    width: 100%;
    max-width: 250px ;
    height: auto;    
}
.javascript{
    width: 100%;
    max-width: 250px ;
    height: auto;    
}
.python{
    width: 100%;
    max-width: 250px ;
    height: auto;    
}
/*Fin de estilos main*/
footer{
    margin-top: auto;
    background-color: rgb(15, 15, 15);
}
.logos-redes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logos-redes figure{
    width: 100%;
    max-width: 150px;
    height: auto;
}