*{
    box-sizing: border-box;
}
/*Estilos para el Body*/
body{
    background-image: radial-gradient(circle,rgb(44, 44, 46),rgb(0, 0, 0));
    color: #eee;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family:'Montserrat','Open Sans','Roboto', sans-serif;
}
/*Quitando todos los stilos a los enlaces*/
/*Estilos del Header*/
.header{
    grid-column: 1/-1;
}
.header,
.contenedor{
    width: 100%;
    padding: 1vmin;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.logo img{
   justify-content: start;
    max-width: 100%;
    height: auto;
}
.barra_nav{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px,1400px));
}
.menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border-left: 1px solid white; */
}
.menu-item{
    font-size: 1.5rem;
    margin: 30px;
    justify-content: center;
    text-align: center;
    height: 50px;
    width: 200px;
    line-height: 50px;
}
.menu-item a{
    text-decoration: none;
    cursor: pointer;
}
a:visited{
    color: inherit;
}
a:link{
    color: inherit;
}
.menu-item:hover{
    border-right: 1px solid white;
    border-left: 1px solid white;
    Text-shadow: 0px 2px 20px rgb(245, 236, 105);
    color: rgb(105, 200, 245);
}
/*Final de Estilos para el Header*/

/*Inicio de Estilos para el Articulo*/
.articulo{
    background-color:  #fffbfb;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-size: 1rem;
    width: 100%;
    height: 50rem;
    padding: 2vmin;
}
.info_personal{
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    margin-bottom: 30px;
}
.sobre_mi{
    width: 30%;
    padding: 2vmin;
    text-align: left;
    font-size: 2rem;
} 
.imagen_personal{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: end;
}
.imagen_personal img{
    position: relative;
    object-position: right;
    object-fit: contain;
    max-width: 100%;
    height: auto;
    animation-name: logo_animation;
    animation-duration: 3500ms;
    animation-timing-function: cubic-bezier(0.10,0.10,0.80,0.80);
}
.title{
    text-align: center;
}
.img-container{
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    grid-gap: 100px;
    justify-content: center;
    align-items: center;
    grid-auto-flow: dense;
    padding: 2vmin;
    margin-bottom: 10px;
    animation-name: logo_lenguage;
    animation-duration: 3500ms;
    animation-timing-function: cubic-bezier(0.1,0.1,0.8,0.8) ;
}
.img-container img{
    max-width: 100%;
    height: auto;
    padding-left: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}
.img-item{
    filter: saturate(0);
}

.img-item:hover{
    transform: scale(1.2);
    filter: none;
}
/*Fin del Estilo para el articulo*/

/*Inicio de estilos para el footer*/
.footer{
    margin-top: auto;
    /* padding-top: 50%; */
}
.contenedor-logos{
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fit,minmax(50px,75px));
    grid-gap: 100px;
    justify-content: center;
    align-items: center;
    grid-auto-flow: dense;
    padding: 2vmin;
    margin-top: 10px;
    animation-name: footer_logo;
    animation-duration: 3500ms;
    animation-timing-function: cubic-bezier(0.1,0.1,0.8,0.8);
}
.logos-redes{
    max-width: 100%;
    height: auto;
    filter: saturate(0);
}
.logos-redes:hover{
    filter: none;
    transform: scale(1.2);
}
/*Fin de Estilos para el Footer*/